p {
    color: red;
}

html {
    font-size: 24px;
}

.goodbye {
    color: blue;
    font-size: 2em;
}

.third {
    color: purple;
}

.bigText {
    font-size: 50px;
}

.list {
    font-size: 14px;
}